*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#fff;
padding:40px;
}

.product-container{
display:flex;
gap:60px;
max-width:1400px;
margin:auto;
}

.product-image{
flex:1;
}

.product-image img{
width:100%;
height:auto;
display:block;
}

.product-details{
width:420px;
}

.title-row{
display:flex;
justify-content:space-between;
align-items:flex-start;
margin-bottom:10px;
}

.title-row h2{
font-size:24px;
font-weight:500;
line-height:1.4;
}

.wishlist{
font-size:24px;
cursor:pointer;
}

.product-details h3{
font-size:28px;
margin-top:15px;
}

.tax{
font-size:14px;
color:#666;
margin-top:5px;
}

.product-details h4{
margin-top:30px;
margin-bottom:15px;
font-size:16px;
}

.color-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.color-item{
border:1px solid #ddd;
padding:5px;
cursor:pointer;
}

.color-item img{
width:100%;
display:block;
}

.color-item.active{
border:2px solid #000;
}

.size-section{
margin-top:30px;
}

.sizes{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.sizes button{
padding:15px;
background:white;
border:1px solid #ccc;
cursor:pointer;
font-size:15px;
}

.sizes button:hover{
border:1px solid black;
}

.size-guide{
display:block;
margin-top:15px;
text-align:right;
color:black;
font-size:14px;
}

.cart-btn{
width:100%;
margin-top:30px;
padding:18px;
background:black;
color:white;
border:none;
font-size:16px;
cursor:pointer;
letter-spacing:1px;
}

.cart-btn:hover{
opacity:.9;
}

@media(max-width:900px){

.product-container{
flex-direction:column;
}

.product-details{
width:100%;
}

}
.product-details{
position:sticky;
top:20px;
height:max-content;
}